.opp-card {
    transition: all 300ms ease-in;
}
.bgimg{
    background-image: url('https://img.freepik.com/free-vector/luxury-blue-golden-background_23-2149329428.jpg');
    background-repeat: no-repeat;
    opacity: 110%;
    background-size: cover;
    background-position: center;
  }

  .hero-text{
    filter: drop-shadow(0 0 1.5rem #000000);
  }
  .textgrad{
    background: linear-gradient(90deg, #F5F29D 0%, #f6ee0f 50.5%, #F5F29D 98%);
    background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }
  .textgrad2{
    background: linear-gradient(90deg, #038dff 0%, #4c3fff 50.5%, #2f7df3 98%);
    background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }

  .gradient-forum{
    width: 1018px;
height: 438px;
border-radius: 200px;
flex-shrink: 0;
    position: absolute;
    z-index: -2000;
    top: 0;
    background: linear-gradient(180deg, #285afdb0 0%, rgba(0, 255, 242, 0.897) 59%, rgba(255, 0, 85, 0.959) 80%);

opacity: 0.4;
filter: blur(172.5px);
  }